<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head(title='Login', path='/css/login.css')"></head>

<body>


<div class="container" style="width: 450px">

    <form name="f" th:action="@{/auth/login}" th:method="POST" onsubmit="validate()">

        <div class="login-text">
            <h3>Login</h3>
            <p>Please login using account detail bellow.</p>
        </div>

        <div class="login-input">
            <!--<input type="text" placeholder="Username">-->
            <input type="tel" class="form-control" id="username" name="username" placeholder="username">

            <div class="password">
                <i class="fas"></i>
                <!--<input type="password" placeholder="Password" class="InputPassword">-->
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="forgot">
                <p>Forgot your password?</p>

                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" id="gridCheck" name="remember-me">
                        <label for="gridCheck">
                            Remember me ?
                        </label>
                    </div>
                </div>

            </div>

        </div>

        <div class="login-button">
            <button type="submit">Sign In</button>
        </div>
    </form>
</div>

<script>
    const passwordEye = document.querySelector(".fas")
    const InputPassword = document.querySelector(".InputPassword")

    passwordEye.addEventListener('click', function () {
        passwordEye.classList.toggle("fa-eye-slash")
        passwordEye.classList.add("fa-eye")

        if (passwordEye.classList.value !== "fas fa-eye fa-eye-slash") {
            console.log("fa-eye")
            InputPassword.type = "text"

        } else {
            InputPassword.type = "password"
        }

    })
    passwordEye.classList.add("fa-eye-slash")

</script>
</body>

</html>
