<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head(title='Task managment login', path='/css/login.css')"></head>

<body >


<div class="container">
    <div class="goBack" id="link">
        <a href="#">Back</a>
        <a href="#">Register</a>
    </div>
    <form name="f" th:action="@{/auth/login}" th:method="POST" onsubmit="validate()">

    <div class="login-text">
        <h3>Login</h3>
        <p>Please login using account detail bellow.</p>
    </div>

    <div class="login-input">
        <input type="text" placeholder="Username">
        <div class="password">
            <i class="fas"></i>
            <input type="password" placeholder="Password" class="InputPassword">
        </div>

        <div class="forgot">
            <p>Forgot your password?</p>

            <div>
                <label>Remember Me</label>
                <input type="checkbox">
            </div>

        </div>

    </div>

    <div class="login-button">
        <button type="submit">Sign In</button>
        <p>Don’t have an Account?Create account</p>
    </div>
    </form>
</div>

<script>
    const passwordEye = document.querySelector(".fas")
    const InputPassword = document.querySelector(".InputPassword")

    passwordEye.addEventListener('click', function () {
        passwordEye.classList.toggle("fa-eye-slash")
        passwordEye.classList.add("fa-eye")

        if (passwordEye.classList.value != "fas fa-eye fa-eye-slash") {
            console.log("fa-eye")
            InputPassword.type = "text"

        } else {
            InputPassword.type = "password"
        }

    })
    passwordEye.classList.add("fa-eye-slash")

</script>
</body>

</html>
