<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Reset password')">
</head>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <form name="f" th:action="@{/auth/reset-password}" th:method="POST" onsubmit="validate()">

                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                        <span style="color: red" th:errors="*{oldPassword}"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                        <span style="color: red" th:errors="*{newPassword}"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm" name="confirm">
                        <span style="color: red" th:errors="*{confirm}"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Change password</button>
                </form>
            </div>
        </div>
    </div>


</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>