<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head(title='Project Delete Page',path='/css/index.css')">
</head>
<body>
<!--<header>-->
<!--    <section th:include="fragment.html :: navbar"></section>-->
<!--</header>-->
<main>

    <h1>Delete Project Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <ul>
                    <li th:text="${project.name}"></li>
                    <li>
                        <img th:src="@{${project.tzPath}}" class="img-thumbnail" alt="logo" th:width="100px"/>
                    </li>
                </ul>
                <form th:method="post" th:action="@{/project/delete/{id}/(id=${project.id})}">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a th:href="@{/index}" class="btn btn-warning">No</a>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>
