<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Organizations')">
</head>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Tz</th>
            <th scope="col">Closed</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project,iter :  ${projects}">
            <th th:text="${iter.count}"></th>
            <th th:text="${project.name}"></th>
            <th>
                <img th:src="@{${project.tzPath}}" class="img-thumbnail" alt="logo" th:width="100px"/>
            </th>
            <th th:text="${project.closed}"></th>
            <th class="icons">
                <a th:href="@{/project/detail/{id}/(id=${project.id})}">👁</a>
                <a th:href="@{/project/update/{id}/(id=${project.id})}">🔄</a>
                <a href="#">🔓</a>
                <a th:href="@{/project/delete/{id}/(id=${project.id})}">🗑</a>
            </th>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>