<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head(title='Column update Page', path='/css/index.css')">
</head>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <form th:method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Name</label><span th:text="' ('+${column.name}+')'"></span>
                        <input type="text" class="form-control" id="name" name="name"/>
                    </div>
                    <p>Old icon : <span/><br/>
                    <li>
                        <a th:href="${column.icon}">
                            <img width="250px" height="250px" th:src="${column.icon}"/>
                            </a>
                    </li>
                    <div class="form-group">
                        <label for="icon">New icon</label>
                        <input type="file" class="form-control" id="icon" name="icon"/>
                    </div>

                    <button type="submit" class="btn btn-primary">➕ Save</button>
                </form>

            </div>
        </div>
    </div>
</main>
<!--<footer>
    <section th:include="fragment.html :: js"></section>
</footer>-->
</body>
</html>
