<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>



<head th:fragment="header(name)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${name}"></title>
    <link rel="stylesheet" th:href="@{/templates/assets/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css">

</head>

<main th:fragment="main">
    <div class="menu-bar">
        <i class="fas fa-bars"></i>
    </div>
    <div class="logo">
        <img th:src="@{/templates/assets/imges/logo.png}" alt="">
    </div>

    <div class="link">
        <a href="#"> -- Clients
        </a>
        <a href="#">Task manager</a>
        <a href="#">Inbox</a>
        <a href="#">Contacts</a>
    </div>
</main>

